.search {
  &__enter {
    display: none;
    font-size: 12px;
    gap: 7px;
    svg {
      width: 18px;
      height: 18px;
      fill: var(--color-icon);
    }
  }

  &__row {
    height: 32px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-start;
  }

  &__button {
    flex: 0 0 auto;
  }

  &__removeButton {
    height: 32px;
  }

  &__item {
    flex: 1 1 auto;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 7px 14px;
    text-decoration: none;
    color: var(--color-text);

    a {
      text-decoration: none;
    }

    &:hover .search__enter {
      display: flex;
    }

    &:hover .search__date {
      display: none;
    }

    &:hover {
      background-color: var(--color-hover);
    }
  }

  &__page {
    display: flex;
    flex-flow: row nowrap;
    gap: 14px;
  }

  &__pageIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 16px;
      height: 16px;
      fill: var(--color-icon);
    }
  }

  &__pageName {
    display: flex;
    align-items: center;
    font-weight: 800;
    max-width: 350px;
    overflow: hidden;
    white-space: nowrap;
  }

  &__notResult {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
  }
}
