@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,600;1,300&display=swap");

@font-face {
  font-family: "golos_bold";
  src: url("../../assets/fonts/golos_bold/golos_bold.ttf");
}

@font-face {
  font-family: "golos_regular";
  src: url("../../assets/fonts/golos_regular/golos_regular.ttf");
}

@font-face {
  font-family: "golos_medium";
  src: url("../../assets/fonts/golos_medium/golos_medium.ttf");
}
