.header,
.promo {
  background-color: $color-base-300;
}

.header__wrapper {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  max-width: 1392px;
  margin: 0 auto;

  & .registration {
    display: flex;
    align-items: center;

    @include media-tablet {
      display: none;
    }

    .registration__log {
      display: block;
      border-radius: 5px;
      text-decoration: none;
      @include font($style: normal,
        $weight: 600,
        $size: 1.5rem,
        $height: 1.8rem);
      letter-spacing: 0.5px;
      color: $color-grey-800;
      margin-right: 10px;
      cursor: pointer;

      &:hover {
        background-color: $color-dark-250;
      }
    }
  }
}

.burger-menu {
  display: none;

  @include media-tablet {
    display: block;
  }

  .burger-icon {
    fill: $color-dark-500;
    cursor: pointer;
  }
}

.burger-icon:hover {
  fill: $button-header;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $color-grey-800;
  cursor: pointer;

  .logo__image {
    display: block;
    width: 31px;
    height: 32px;
  }

  .logo__title {
    @include font($style: normal,
      $weight: 600,
      $size: 1.4rem,
      $height: 1.682rem);
    margin-left: 5px;
  }
}

//----------------- PROMO ---------------------

.promo__wrapper {
  display: flex;
  padding: 60px;
  max-width: 1392px;
  margin: 0 auto;

  @include media-small-descktop {
    flex-direction: column-reverse;
    align-items: center;
  }

  .promo__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 54%;

    @include media-small-descktop {
      align-items: center;
    }

    .promo__description-title {
      @include font($style: normal, $weight: 700, $size: 6.3rem, $height: 7rem);
      letter-spacing: -2px;
      margin: 0;
      color: $color-grey-800;

      @include media-small-descktop {
        @include font($style: normal,
          $weight: 700,
          $size: 4.8rem,
          $height: 5.76rem);
        text-align: center;
      }

      @include media-tablet {
        @include font($style: normal,
          $weight: 700,
          $size: 4rem,
          $height: 4.8rem);
        text-align: center;
      }

      @include media-mobile {
        @include font($style: normal,
          $weight: 700,
          $size: 3rem,
          $height: 3.6rem);
        text-align: center;
      }
    }

    .promo__description-text {
      @include font($style: normal,
        $weight: 600,
        $size: 1.8rem,
        $height: 2.3rem);
      color: $header-promo-text;
      letter-spacing: 0;
      margin: 0;
      margin: 20px 0;

      @include media-small-descktop {
        text-align: center;
      }

      @include media-tablet {
        @include font($style: normal,
          $weight: 600,
          $size: 1.6rem,
          $height: 1.92rem);
        text-align: center;
      }

      @include media-mobile {
        @include font($style: normal,
          $weight: 600,
          $size: 1.4rem,
          $height: 1.68rem);
        text-align: center;
      }
    }

    .promo__description-button {
      min-width: 160px;
      @include font($style: normal, $weight: 600, $size: 1.6rem, $height: 2rem);
      padding: 8px;
    }

    .promo__description-subtext {
      @include font($style: normal,
        $weight: 500,
        $size: 1.35rem,
        $height: 1.7rem);
      color: $header-promo-text;
      letter-spacing: 0;
      margin-top: 30px;
      margin-bottom: 10px;
    }

    .promo__description-brands {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;
      align-items: center;

      @include media-tablet {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
      }

      @include media-mobile {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
      }

      .promo__brand {
        display: block;
        max-width: 95px;
        width: 100%;
        height: auto;
        filter: grayscale(100%);
        filter: contrast(10%);
        animation-name: animation-wr;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
      }

      .promo__brand:nth-child(1) {
        animation-delay: 1s;
      }

      .promo__brand:nth-child(2) {
        animation-delay: 2s;
      }

      .promo__brand:nth-child(3) {
        animation-delay: 3s;
      }

      .promo__brand:nth-child(4) {
        animation-delay: 4s;
      }

      .promo__brand:nth-child(5) {
        animation-delay: 5s;
      }
    }
  }

  .promo__image {
    width: 45%;
    height: auto;
  }
}

@keyframes animation-wr {
  0% {
    opacity: 1;
    transform: translateY(0px) skewX(0deg) skewY(0deg) rotateZ(0deg);
    filter: blur(0px);
  }

  30% {
    opacity: 1;
    transform: translateY(0px) skewX(0deg) skewY(0deg) rotateZ(0deg);
    filter: blur(0px);
  }

  60% {
    opacity: 0;
    transform: translateY(-30px) skewX(0deg) skewY(10deg) rotateZ(10deg);
    filter: blur(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) skewX(0deg) skewY(0deg) rotateZ(0deg);
    filter: blur(0px);
  }

}

// ---------------- FOOTER -----------------------------------

.footer__wrapper {
  max-width: 1392px;
  margin: 0 auto;
  padding: 30px 30px 65px;
  display: flex;
  justify-content: space-between;

  @include media-mobile {
    flex-direction: column;
    align-items: center;
  }

  .tools {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    @include media-small-descktop {
      flex-direction: column;
      align-items: center;
    }
  }

  .logo-icons__container {
    margin-right: 20px;
  }

  .social-container__list {
    display: flex;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 20px 0 15px;

    .social-container__image-facebook,
    .social-container__image-insta,
    .social-container__image-linked,
    .social-container__image-twitter,
    .social-container__image-youtube {
      display: block;
      width: 22px;
      height: 22px;
      margin-right: 5px;
      fill: rgb(77, 70, 70);

    }

    .social-container__image-facebook:hover,
    .social-container__image-linked:hover,
    .social-container__image-twitter:hover {
      fill: rgb(40, 69, 231);
    }

    .social-container__image-insta:hover {
      fill: rgb(46, 6, 70);
    }

    .social-container__image-youtube:hover {
      fill: rgb(196, 14, 38);
    }
  }

  .cursor {
    cursor: pointer;
  }

  .AuthorsLinks {
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding-right: 20px;

    @include media-tablet {
      flex-direction: column-reverse;
      align-items: center;
    }

    @include media-mobile {
      padding-top: 20px;
    }

    .authors-github {
      display: flex;
      flex-direction: column;

      .social-container__link {
        margin-top: 10px;
        text-decoration: none;
        @include font($style: normal,
          $weight: 500,
          $size: 1.6rem,
          $height: 1.8rem);
        letter-spacing: 0;
        color: $header-promo-text;
        cursor: pointer;
        transition: all ease 0.2s;
      }

      .social-container__link:hover {
        color: $button-header;
      }
    }

    .rsschool__image {
      width: 120px;
      height: auto;
    }

    .year-production {
      margin-top: 15px;
      @include font($style: normal,
        $weight: 500,
        $size: 1.4rem,
        $height: 1.6rem);
      color: $header-promo-text;
      user-select: none;
    }
  }
}

// --------------------- MOBILE MENU ------------------------

.mobile-menu {
  display: none;
}

.mobile-menu_active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 150%;
  background-color: $color-base-100;
}

.menu-container {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;

  .icon-close {
    cursor: pointer;

    &:hover {
      fill: $button-header;
    }
  }
}

.mobile-tools-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .mobile-log,
  .mobile-try {
    display: block;
    width: 95%;
    min-height: 40px;
    padding: 15px 0 6px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    border: 1px solid $button-home-select;
    box-shadow: 0px 0.32592591643333435px 0.7333333492279053px 0px rgb(0 0 0 / 12%),
      0px 1.540740728378296px 2.866666555404663px 0px rgb(0 0 0 / 7%),
      0px 4px 9px 0px rgb(0 0 0 / 5%);
    text-decoration: none;
    text-align: center;
    @include font($style: normal,
      $weight: 600,
      $size: 1.8rem,
      $height: 2.16rem);
    letter-spacing: 0.3px;
    cursor: pointer;
    transition: all ease 0.2s;
  }

  .mobile-log:hover {
    background-color: $button-home-select;
  }

  .mobile-try {
    background-color: $button-header;
    color: $color-base-300;

    &:hover {
      background-color: $color-red-500;
    }

    &:active {
      background-color: $color-red-520;
    }
  }
}