.notion {
  display: flex;
  flex-flow: row nowrap;
  font-size: 14px;

  &__aside {
    flex: 0 0 15px;
  }

  &__aside--active {
    flex: 0 0 233px;
  }

  &__section {
    flex: 1 1 auto;
  }
}
