:root {
  --color-hover: #efefef;
  --color-bg: #ffffff;
  --color-text: #222222;
  --color-text-aside: #4f4f4f;
  --color-aside: #fbfbfa;
  --color-icon: #959595;
  --color-bg-code: #f1f1f1;
  --color-active: #258cf4;
  --color-active-svg: #ffd19e;
}

[data-theme="dark"] {
  --color-hover: #464c50;
  --color-bg: #272727;
  --color-text: #f0f0f0;
  --color-text-aside: #e1e1e1cb;
  --color-aside: #373c3f;
  --color-icon: #e1e1e1ad;
  --color-bg-code: #343434;
  --color-active-svg: #d07b36;
}

[data-theme="cobalt2"] {
  --color-hover: #193549;
  --color-bg: #122738;
  --color-text: #f0f0f0;
  --color-text-aside: #b9b9b9;
  --color-aside: #15232d;
  --color-icon: #ffca28;
  --color-bg-code: #193549;
  --color-active-svg: #d07b36;
}

[data-font="serif"] {
  font-family: "Lyon Text", Georgia, ui-serif, serif;
}

.font-mono,
[data-font="mono"] {
  font-family: "iA Writer Mono", Nitti, Menlo, Courier, monospace;
}

h1 {
  font-size: 3em;
  line-height: 1.125;
}

[data-small="true"] {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.6em;
  }

  .text-editor {
    font-size: 12px;
  }
}

[data-status="arhive"] {
  filter: blur(2px);
}

[data-width="false"] {
  .containerEditor {
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
  }
  .containerIcon {
    width: calc(60% - 32px);
    margin: 0 auto;
    height: 30px;
  }
  .containerHeader {
    width: calc(60% - 32px);
    margin: 0 auto;
  }

  .wrapperEditor {
    padding-left: 0;
  }
  .wrapperIcon {
    padding-left: 32px;
  }
  .wrapperHeader {
    padding-left: 32px;
  }
  .toolButton {
    opacity: 1;
  }
}

[data-width="true"] {
  .containerEditor {
    width: 100%;
    margin: 0 auto;
  }
  .containerIcon {
    width: calc(100% - 32px);
    margin: 0 auto;
    height: 30px;
  }
  .containerHeader {
    width: calc(100% - 32px);
    margin: 0 auto;
  }

  .wrapperEditor {
    padding-left: 0;
  }
  .wrapperIcon {
    padding-left: 32px;
  }
  .wrapperHeader {
    padding-left: 32px;
  }
  .toolButton {
    transform: translateX(0);
  }
}

[contentEditable="true"] {
  -webkit-text-fill-color: --color-hover;
  &:empty:not(:focus):before {
    content: attr(placeholder);
    color: var(--color-hover);
  }
}

div[contentEditable="true"] {
  width: 100%;
}

button {
  border: unset;
  padding: unset;
  background-color: unset;
}

h1 {
  color: var(--color-text);
}

a {
  color: var(--color-text);
}

.notion {
  height: 100vh;
  user-select: none;
  display: flex;
  flex-flow: row nowrap;
  font-size: 14px;

  &-popup {
    position: relative;
    display: inline-block;
    text-align: left;

    &__menu {
      position: relative;
    }

    &__body {
      transform-origin: top right;
      position: absolute;
      background-color: var(--color-bg-code);
      transform: translate(0px, 0px);
      padding: 2px;
      border-radius: 4px;
      box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px,
        rgb(15 15 15 / 10%) 0px 3px 6px, rgb(15 15 15 / 20%) 0px 9px 24px;
    }
  }

  &__modal {
    background: rgba(15, 15, 15, 0.6);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    &_body {
      background-color: var(--color-bg);
      overflow: hidden;
      min-height: 50px;
      max-height: 80vh;
      border-radius: 7px;
      box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px,
        rgb(15 15 15 / 10%) 0px 5px 10px, rgb(15 15 15 / 20%) 0px 15px 40px;
    }
  }

  &__aside {
    z-index: 300;
    color: var(--color-text-aside);
    transition: all 700ms ease;
    flex: 0 0 233px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: var(--color-aside);
    transition: box-shadow 300ms ease 0s;
  }

  &__aside[data-status="false"] {
    flex: 0 0 auto;

    .doubleChevronLeft {
      transform: rotate(180deg);
    }

    .sidebar_topbar {
      padding: 0;
    }

    .aside_status {
      display: none;
    }
  }

  &__section {
    flex: 1 1 auto;
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}

.home-icon {
  .button__icon {
    background-color: $color-orange-200;
    border-radius: 4px;
    padding: 2px;
    svg {
      width: 18px;
      height: 18px;
    }
  }
}

.button {
  &__icon {
    display: flex;
    align-items: center;
    overflow: hidden;
  }
}

.toggle-active {
  transform: rotate(-90deg);
}

.hr-line {
  border-bottom: 1px solid var(--color-hover);
}

.skeleton {
  background-color: transparent;
  opacity: 0.5;
}

.breadcrumb .button__text {
  overflow: hidden;
  max-width: 95px;
  white-space: nowrap;
}

.modal-top {
  align-items: flex-start;
  .notion__modal_body {
    margin-top: 50px;
  }
}
