@import "../../sass/abstracts/constants";

.button {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 2px;
  border-radius: 3px;

  &:hover {
    background-color: var(--color-base-140);
  }

  &__link {
    color: var(--color-grey-400);
    fill: var(--color-dark-400);
    display: flex;
    flex-flow: row nowrap;
    user-select: none;
    transition: opacity 700ms ease 0s, color 700ms ease 0s,
      background-color 700ms ease 0s;
    cursor: pointer;
    align-items: center;
    flex-shrink: 0;
    padding: 4px;

    svg {
      width: 16px;
      height: 16px;
      fill: var(--color-icon);
    }
  }
}
