.tab {
  fill: var(--color-icon);
  display: flex;
  flex-flow: row nowrap;
  margin-right: 2px;
  align-items: center;
  border-bottom: 2px solid transparent;

  &:hover {
    background-color: var(--color-hover);
  }

  &__active {
    border-color: var(--color-icon);
  }
}
