.toolFormat {
  display: none;
  flex-flow: row nowrap;
  position: absolute;
  background-color: var(--color-bg);
  overflow: hidden;
  border-radius: 7px;
  transform: translate(-20px, -40px);
  box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px,
    rgb(15 15 15 / 10%) 0px 5px 10px, rgb(15 15 15 / 20%) 0px 15px 40px;
  transition: color 400ms ease 0s, background-color 400ms ease 0s;
  font-family: "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif,
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  z-index: 301;

  &__itemLink {
    cursor: pointer;
  }

  &__item {
    cursor: text;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 4px 6px;
    height: 24px;

    &_active div {
      color: var(--color-active) !important;
      font-weight: bold;
    }
  }
}
