.button {
  fill: var(--color-icon);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  opacity: 1;
  transition: opacity 400ms ease 0s, color 400ms ease 0s,
    background-color 400ms ease 0s;

  &__active,
  &:hover {
    background-color: var(--color-hover);
  }

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 7px;
  }

  &__hotkey {
    font-size: 11px;
    color: var(--color-icon);
  }

  &__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    gap: 7px;
    width: calc(100% - 28px);
    user-select: none;
    cursor: pointer;
    flex-shrink: 0;
    border-radius: 3px;
    padding: 5px 14px;

    svg {
      width: 14px;
      height: 14px;
      fill: var(--color-icon);
    }
    img {
      object-fit: cover;
      border-radius: 3px;
      background: white;
      width: 22px;
      height: 22px;
      flex-grow: 0;
      flex-shrink: 0;
      box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px;
    }
  }

  &__disabled {
    div {
      opacity: 0.6;
      cursor: wait;
    }
  }
}
