.langues {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  padding: 4px;
  width: 200px;
  &:hover {
    background-color: var(--color-hover);
  }

  &__name {
    padding: 2px 8px;
    color: var(--color-text);
  }

  &__description {
    color: var(--color-icon);
    padding: 2px 8px;
  }

  &__active {
    background-color: var(--color-aside);
  }
}
.menu {
  position: relative;
}
.popup {
  left: 0;
}

.button {
  color: var(--color-text);

  &__default,
  &__warning,
  &__primary {
    transition: background 20ms ease-in 0s;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 4px;
    padding: 2px 10px;
    font-size: 14px;
    line-height: 1.2;
    border: 1px solid var(--color-icon);
    display: inline-flex;
    background-color: transparent;
  }

  &:hover {
    background-color: var(--color-hover);
  }

  &__primary {
    .button__text {
      color: #ffffff;
    }

    background: #2383e2;
    color: #ffffff;

    &:hover {
      background-color: rgb(0, 117, 211);
    }
  }

  &__warning {
    color: rgb(235, 87, 87);
    border: 1px solid rgba(235, 87, 87, 0.5);
  }
}
