.langues {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  padding: 4px;
  width: 200px;
  &:hover {
    background-color: var(--color-hover);
  }

  &__name {
    padding: 2px 8px;
    color: var(--color-text);
  }

  &__description {
    color: var(--color-icon);
    padding: 2px 8px;
  }

  &__active {
    background-color: var(--color-aside);
  }
}
.menu {
  position: relative;
}
.popup {
  left: 0;
}

.button {
  color: var(--color-text);
}
