.body {
  overflow-y: scroll;
  height: calc(100% - 45px);

  &::-webkit-scrollbar {
    background: var(--сolor-bg);
    position: absolute;
    opacity: 0.2;
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-hover);
  }
}
