.sidebar {
  padding: auto;
  display: flex;
  flex-flow: column nowrap;

  &__scroll {
    height: calc(100vh - 110px);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      background: var(--—Åolor-bg);
      position: absolute;
      width: 12px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-hover);
    }
  }

  &__button {
    padding: 2px 0;
  }

  &__trash {
    margin-top: 25px;
  }
}

.nav {
  font-weight: 500;
  padding: 4px 4px;
  flex: 1 1 auto;

  &__row {
    padding: 6px 13px;
    display: flex;
    gap: 9px;
    align-items: center;
  }
}
