.item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-flow: row nowrap;
  padding: 6px 18px;
  gap: 4px;
  color: var(--color-text-aside);

  &:hover {
    background: var(--color-hover);
  }

  &__bigtext {
    font-size: 24px;
  }

  &__title {
    display: flex;
  }

  &__description {
    font-size: 12px;
  }
}
